#content {
  margin-top: 120px;
  margin-left: 30px;
  display: none;
}
#mod-info img {
  float: left;
  margin-right: 10px;
  image-rendering: pixelated;
}
#mod-info {
  float: left;
  width: 900px;
  margin: 5px 30px 30px 0px;
}
#description {
  overflow-wrap: anywhere;
  float: left;
  margin: 5px 0 30px;
  width: 600px;
  line-height: 1;
}
span {
  color: #fcd581
}
#download-info {
  float: left;
}
#myChart {
  display: none;
  border: solid 2px #222;
}