#content {
  margin-left: 30px;
  display: none;
  white-space: nowrap;
}
#icon {
  float: left;
  margin-right: 10px;
  image-rendering: pixelated;
}
#item-icon {
  height: 1em;
}
#mod-info {
  float: left;
  width: 950px;
  margin: 5px 30px 30px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#description-container {
  float: right;
  width: 830px;
  height: 400px;
  margin: 5px 15px 30px;
  line-height: 1;
}
#description {
  overflow: overlay;
  height: 400px;
}
span {
  color: #fcd581
}
#download-info {
  float: left;
}
#myChart {
  display: none;
  border: solid 2px #222;
}