#content {
  margin-top: 110px;
  margin-left: 30px;
  display: none;
}
#mod-info img {
  float: left;
  margin-right: 10px;
  image-rendering: pixelated;
}
#mod-info {
  float: left;
  width: 60%;
  margin: 5px 0 30px;
}
#description {
  overflow-wrap: anywhere;
  float: left;
  margin: 5px 0 30px;
  width: 30%;
  line-height: 1;
}
span {
  color: #fcd581
}
#downloads-info {
  width: 40%;
}
#myChart {
  display: none;
  border: solid 2px #222;
}