main {
	transition: margin-left .5s;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

#upper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#upper h1 {
	text-align: center;
}

#upper .input-container form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#upper .input-container form select {
	margin-right: .5rem;
}

.input-container.big-search form input.mod-search {
	width: calc(var(--searchbar-size) * 2.5);
}

#middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 1170px) {
	#tml-stats .vl {
		border-bottom: 2px solid #4a4a4a;
		border-left: none !important;
		height: 2px !important;
		width: 7rem;
	}
	#tml-stats {
		flex-direction: column;
	}
}

#tml-stats {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0 0 0 100vmax #1f1f1f;
	background-color: #1f1f1f;
	clip-path: inset(0 -100vmax);
}

#tml-stats .vl {
	border-left: 2px solid #4a4a4a;
	height: 5rem;
}

.stat-card {
	padding: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.stat-card h1 {
	margin: 0;
	font-size: 3rem;
}

.stat-card p {
	margin: 0;
	color: #818181;
	text-align: center;
}

@media screen and (max-width: 555px) {
	.mod-card .mod-card-inner:not(.no-remove) {
		display: none !important;
	}
	.mod-card {
		border-radius: 1rem !important;
		padding: .8rem !important;
		margin: .8rem !important;
	}
	.mod-card img {
		width: 80px;
		height: 80px;
	}
	.big-search input {
		width: var(--searchbar-size) !important;
	}
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	counter-reset: cnt;
}

.mod-card {
	display: flex;
	flex-direction: row;
	max-height: 7.5rem;
	background: #2f2f2f;
	background-size: 250% 150%;
	background-position-x: -250px;

	color: white;
	padding: 1rem;
	margin: 1rem;
	border: #4a4a4a 1px solid;
	border-radius: 2rem;
	box-shadow: #111111 .5rem .5rem 10px;

	transition: ease 500ms;
}

.mod-card h3:before {
	counter-increment: cnt;
	content: counter(cnt,decimal) ". ";
}

.mod-card:hover {
	padding: 1.5rem;
	margin: .5rem;
	box-shadow: #111111 1rem 1rem 10px;
}

.card-container:has(.mod-card:hover) .mod-card:not(:hover) {
	opacity: .5;
}

.mod-card .mod-card-inner {
	display: -webkit-box;
	max-height: 7rem;
	padding: .5rem;
	max-width: 20rem;
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.mod-card .mod-card-inner h3 {
	text-align: center;
	margin: 0;
}