/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 2; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111;
	white-space: nowrap;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 1.5rem;
	color: #818181;
	display: block;
	transition: 0.3s;
	text-wrap: none;
	cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	cursor: pointer;
	font-size: 3rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

#hamburger {
	cursor: pointer;
}

main {
	transition: margin-left .5s;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

#upper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#upper .input-container form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#upper .input-container form select {
	margin-right: .5rem;
}

.input-container.big-search form input.mod-search {
	width: calc(var(--searchbar-size) * 2.5);
}

#middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

#tml-stats {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0 0 0 100vmax #1f1f1f;
	background-color: #1f1f1f;
	clip-path: inset(0 -100vmax);
}

#tml-stats .vl {
	border-left: 2px solid #4a4a4a;
	height: 5rem;
}

.stat-card {
	padding: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.stat-card h1 {
	margin: 0;
}

.stat-card p {
	margin: 0;
	color: #818181;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 90%;

	counter-reset: cnt;
}

.mod-card {
	display: flex;
	flex-direction: row;
	height: 7.5rem;
	background: #2f2f2f;
	background-size: 250% 150%;
	background-position-x: -250px;

	color: white;
	padding: 1rem;
	margin: 1rem;
	border: #4a4a4a 1px solid;
	border-radius: 2rem;
	box-shadow: #111111 .5rem .5rem 10px;

	transition: ease 500ms;
}

.mod-card h3:before {
	counter-increment: cnt;
	content: counter(cnt,decimal) ". ";
}

.mod-card:hover {
	padding: 1.5rem;
	margin: .5rem;
	box-shadow: #111111 1rem 1rem 10px;
}

.card-container:has(.mod-card:hover) .mod-card:not(:hover) {
	opacity: .5;
}

@media screen and (max-width: 555px) {
	.mod-card .mod-card-inner:not(.no-remove) {
		display: none !important;
	}
	.big-search input {
		width: var(--searchbar-size) !important;
	}
}

.mod-card .mod-card-inner {
	display: -webkit-box;
	max-height: 7rem;
	padding: .5rem;
	max-width: 20rem;
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.mod-card .mod-card-inner h3 {
	text-align: center;
	margin: 0;
}
