body {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  background-color: #333;
  margin: 0;
}

#header {
  background-color: #525252;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

#header h1 {
  transition: margin 0.5s ease;
}

#title {
  align-self: center;
  margin-left: 40px;
}

#input-container {
  margin-left: auto;
  margin-right: 20px;
  align-self: center;
}

#mod-search {
  color: rgb(255, 255, 255);
  background-color: #414141;
  background-image: url(../assets/line.png);
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  height: 30px;
  width: 250px;
  border: none;
  padding-left: 10px;
}

#mod-search:hover {
  border: none;
  outline: solid white 1px;
}

#mod-search:focus {
  outline: solid white 1px;
}

#content {
  line-height: 0.4em;
  margin: auto;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #aefaff;
}

footer {
  background-color: #222;
  width: 100%;
  height: 3%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;
}