#content {
  margin-left: 30px;
  display: none;
  white-space: nowrap;
}

#icon {
  float: left;
  margin-right: 10px;
  image-rendering: pixelated;
}

#item-icon {
  height: 1em;
}

#mod-info {
  float: left;
  width: 950px;
  margin: 5px 30px 30px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#download-info {
  float: left;
  margin: 20px 20px 20px 0px;
}

#description-container {
  float: right;
  width: 830px;
  height: 400px;
  margin: 5px 15px 70px;
  line-height: 1;
}

#description {
  overflow: overlay;
  height: 350px;
}

#description::-webkit-scrollbar-track {
  background-color: #525252;
}

#description::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: #F5F5F5;
}

#description::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border: solid black 2px;
}

span {
  color: #fcd581
}

#dl-history {
  float: left;
}

#history-table {
  overflow: overlay;
  height: 250px;
  width: 800px;
  margin-bottom: 50px;
}

#history-table::-webkit-scrollbar-track {
  background-color: #525252;
}

#history-table::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: #F5F5F5;
}

#history-table::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border: solid black 2px;
}

#history-tbody td {
  padding: 10px;
  line-height: 0.3em;
}