<head>
    <meta charset="utf-8" name="viewport">
    <title>{{.author}}</title>
    <meta content="#43B581" data-react-helmet="true" name="theme-color">
    <link href="/static/css/standart.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/author.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/standart.js"></script>
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicon.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon.ico/favicon-16x16.png">
  <link rel="manifest" href="favicon.ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon.ico/ms-icon-144x144.png">

    <meta property="og:title" content="Mod Statistics // {{.Steam64ID}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://modstats.repl.co/stats?author={{.Steam64ID}}" />
    <meta property="og:image" content="https://dynamictmlstats.repl.co/?steamid64={{.Steam64ID}}" />
    <meta name="theme-color" content="#2f3136">
  
    <!-- Include this to make the og:image larger -->
    <meta name="twitter:card" content="summary_large_image">
  </head>
  
  <body>
    <div id="header">
      <h1 id="title"><a href="/">Mod Statistics // </a><span id="title-text">{{ .authorInfo.SteamName }}</span></h1>
      <div id="input-container">
        <input id="mod-search" type="text" onkeypress="search(this)" placeholder="Search for a mod" list="modlist" value="{{ .author }}" />
        <datalist id="modlist">
			{{range .modlist}}
			<option value="{{ .InternalName }}">
			{{end}}
		</datalist>
      </div>
    </div>
    <div id="content" style="display: block;">
		<div>
			<p>Steam Name: <span>{{ .authorInfo.SteamName }}</span></p>
			<p>Downloads Total: <span>{{ .authorInfo.DownloadsTotal }}</span></p>
			<p>Downloads Yesterday: <span>{{ .authorInfo.DownloadsYesterday }}</span></p>
			<p>Mods: <span>
				{{if .authorInfo.Mods}} 
				<table>
					<tbody><tr> <td>Rank</td> <td>Display Name</td> <td>Downloads Total</td> <td>Downloads Yesterday</td> </tr></tbody>
				{{range .authorInfo.Mods}}
					<tr>
						<td>{{ .Rank }}</td>
						<td><a href="/stats?mod={{ .EscapedDisplayName }}">{{ .DisplayName }}</a></td>
						<td>{{ .DownloadsTotal }}</td>
						<td>{{ .DownloadsYesterday }}</td>
					</tr>
				{{end}} 
				</table>
				{{else}} 
				no mods 
				{{end}}
			</span></p>
			<p>Maintained Mods: <span>
				{{if .authorInfo.MaintainedMods}} 
				<table>
					<tbody><tr> <td>Rank</td> <td>Display Name</td> <td>Downloads Total</td> <td>Downloads Yesterday</td> </tr></tbody>
				{{range .authorInfo.MaintainedMods}}
					<tr>
						<td><a href="/stats?mod={{ .EscapedModName }}">{{ .ModName }}</a></td>
						<td>{{ .DownloadsTotal }}</td>
						<td>{{ .DownloadsYesterday }}</td>
					</tr>
				{{end}} 
				</table>
				{{else}} 
				no mods 
				{{end}}
			</span></p>
			</div>
	</div>
	</body>
  <footer>Made by <a href="https://github.com/NotLe0n" target="_blank">NotLeon#7696</a> and <a href="https://github.com/bafto" target="_blank">bafto</a></footer>
  
  </html>