<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.author}}</title>
        <link rel="stylesheet" href="/static/css/standart.css" />
        <link rel="icon" type="image/png" sizes="any" href="/static/assets/favicon.ico">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- embed metadata -->
        <meta property="og:title" content="Mod Statistics // {{ .authorInfo.SteamName }} ({{ .authorID }})" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://modstats.repl.co/author/{{ .authorID }}" />
        <meta property="og:image" content="https://tml-readme-card.repl.co/?steamid64={{ .authorID }}" />
        <meta name="theme-color" content="#2f3136">
        <meta content="#43B581" data-react-helmet="true" name="theme-color">
        <meta name="twitter:card" content="summary_large_image">

        <style>
			table {
				padding-left: 2rem;
			}
        </style>
    </head>

    <body>
        <header>
            <h1><span><a href="../">Mod Statistics</a> // </span><wbr><span>Author stats</span></h1>
            <div class="input-container">
                {{ template "search-element" .modlist }}
            </div>
            {{ template "search-script" }}
        </header>
        <main>
            {{ if .isLegacy }}
                {{ template "author-1.3" . }}
            {{ else }}
                {{ template "author-1.4" . }}
            {{ end}}
        </main>
    </body>
</html>