<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.author}}</title>
        <link rel="stylesheet" href="/static/css/standart.css" />
        <link rel="icon" type="image/png" sizes="any" href="/static/assets/favicon.ico">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- embed metadata -->
        <meta property="og:title" content="Mod Statistics // {{ .authorInfo.SteamName }} ({{ .author }})" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://modstats.repl.co/stats?author={{.author}}" />
        <meta property="og:image" content="https://tml-readme-card.repl.co/?steamid64={{.author}}" />
        <meta name="theme-color" content="#2f3136">
        <meta content="#43B581" data-react-helmet="true" name="theme-color">
        <meta name="twitter:card" content="summary_large_image">

        <script>
            function changeTarget(event) {
                document.querySelectorAll('.mod-search[type=text]').forEach(x => {
                    x.setAttribute('name', event.value)
                    x.setAttribute('list', event.value === "mod" ? modlist : "")
                })
                document.querySelectorAll('.input-container select').forEach(x => x.value = event.value)
            }
        </script>
        <style>
			table {
				padding-left: 2rem;
			}
        </style>
    </head>

    <body>
        <header>
            <h1><span><a href=".">Mod Statistics</a> // </span><wbr><span>Author stats</span></h1>
            <div class="input-container">
                <form action="stats" method="get">
                    <select onchange="changeTarget(this)">
                        <option>mod</option>
                        <option>author</option>
                    </select>
                    <input name="mod" class="mod-search" type="text" placeholder="Search" list="modlist" />
                    <datalist id="modlist">
                        {{range .modlist}}
                            <option value="{{ .InternalName }}">
                        {{end}}
                    </datalist>
                </form>
            </div>
        </header>
        <main>
            <p>Steam Name: <span>{{ .authorInfo.SteamName }}</span></p>
            <p>Downloads Total: <span>{{ .authorInfo.DownloadsTotal }}</span></p>
            <p>Downloads Yesterday: <span>{{ .authorInfo.DownloadsYesterday }}</span></p>
            <p>Mods: <span>
                {{if .authorInfo.Mods}}
                    <table>
                        <tbody><tr> <th>Rank</th> <th>Display Name</th> <th>Downloads Total</th> <th>Downloads Yesterday</th> </tr></tbody>
                        {{range .authorInfo.Mods}}
                        <tr>
                            <td>{{ .Rank }}</td>
                            <td><a href="/stats?mod={{ .InternalName }}">{{ .DisplayName }}</a></td>
                            <td>{{ .DownloadsTotal }}</td>
                            <td>{{ .DownloadsYesterday }}</td>
                        </tr>
                        {{end}}
                    </table>
                {{else}}
                    no mods
                {{end}}
            </span></p>
            <p>Maintained Mods: <span>
                {{if .authorInfo.MaintainedMods}}
                    <table>
                        <tbody><tr> <td>Rank</td> <td>Display Name</td> <td>Downloads Total</td> <td>Downloads Yesterday</td> </tr></tbody>
                        {{range .authorInfo.MaintainedMods}}
                        <tr>
                            <td>?</td>
                            <td><a href="/stats?mod={{ .InternalName }}">{{ .EscapedModName }}</a></td>
                            <td>{{ .DownloadsTotal }}</td>
                            <td>{{ .DownloadsYesterday }}</td>
                        </tr>
                    </table>
                {{end}}
                {{else}}
                    no mods
                {{end}}
            </span></p>
        </main>
    </body>
</html>