<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mod Statistics // Main Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/standart.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <link rel="icon" type="image/png" sizes="any" href="/static/assets/favicon.ico">

        <script>
            async function randomMod() {
                let response = await fetch('/api/getRandomMod').then(x => x.text());
                window.location.href = `/mod/${response}`
            }

            let openNav = () => document.querySelector('nav.sidenav').style.width = "250px";
            let closeNav = () => document.querySelector('nav.sidenav').style.width = "0";
        </script>
    </head>

    <body>
        <nav class="sidenav">
            <a class="closebtn" onclick="closeNav()">&times;</a>
            <a onclick="randomMod()">Random Mod</a>
            <a href="/modList">Mod List</a>
            <a href="https://github.com/NotLe0n/ModStats">Github</a>
        </nav>
        <header>
            <h1 id="hamburger" onclick="openNav()">☰</h1>
            <h1><span><a href=".">Mod Statistics</a> // </span><wbr><span>Main Page</span></h1>
            <div class="input-container">
                {{ template "search-element" .modlist }}
            </div>
            {{ template "search-script" }}
        </header>
        <main onclick="closeNav()">
            <div id="upper">
                <h1><u>Welcome to Mod Statistics</u></h1>
                <p>Search and find out more about your mod</p>

                <div class="input-container big-search">
                    {{ template "search-element" .modlist }}
                </div>
            </div>
            <div id="middle">
                <div id="tml-stats">
                    <h1>tModloader Statistics:</h1>
                    <p>- There are <span>{{ .modcount }}</span> mods on the Mod Browser</p>
                    <p>- All downloads combined are <span>{{ .combined }}</span></p>
                    <p>- There are <span>{{ .deadmods }}</span> dead mods (daily download count < 5)</p>
                    <p>- The Top 10 mods make up <span>{{ .percent }}%</span> of all downloads</p>
                    <p>- The median download count is <span>{{ .median }}</span></p>
                    <p>- Over <span>{{ .contribs }}</span> people have contributed to tML</p>
                </div>

                <div id="blocks">
                    <div class="block">
                        <div class="block-head">
                            <h1>Top 10 Mods</h1>
                        </div>
                        <div class="block-body">
                            <ol>
                                {{range .top10mods}}
                                <li>
                                    <a href="/mod/{{ .InternalName }}">{{ .DisplayName }}</a>
                                </li>
                                {{end}}
                            </ol>
                        </div>
                    </div>

                    <div class="block">
                        <div class="block-head">
                            <h1>Popular Mods</h1>
                        </div>
                        <div class="block-body">
                            <ol>
                                {{range .hotmods}}
                                <li>
                                    <a href="/mod/{{ .InternalName }}">{{ .DisplayName }}</a>
                                </li>
                                {{end}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>