<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ .escapedDisplayName }}</title>
		<link rel="stylesheet" href="/static/css/standart.css" />
		<link rel="stylesheet" href="/static/css/stats.css" />
		<link rel="icon" type="image/png" sizes="any" href="/static/assets/favicon.ico">

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- embed metadata -->
		<meta property="og:title" content="Mod Statistics // {{ .modData.DisplayName }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://modstats.repl.co/stats?mod={{ .modData.InternalName }}" />
		<meta property="og:image" content="https://bettermodwidget.javidpack.repl.co/?mod={{ .modData.InternalName }}" />
		<meta name="theme-color" content="#2f3136">
		<meta content="#43B581" data-react-helmet="true" name="theme-color">
		<meta name="twitter:card" content="summary_large_image">

		<script>
			function changeTarget(event) {
				document.querySelectorAll('.mod-search[type=text]').forEach(x => {
					x.setAttribute('name', event.value)
					x.setAttribute('list', event.value === "mod" ? modlist : "")
				})
				document.querySelectorAll('.input-container select').forEach(x => x.value = event.value)
			}
		</script>
	</head>

	<body>
		<header>
			<h1><span><a href=".">Mod Statistics</a> // </span><wbr><span>Mod stats</span></h1>
			<div class="input-container">
				<form action="stats" method="get">
					<select onchange="changeTarget(this)">
						<option>mod</option>
						<option>author</option>
					</select>
					<input name="mod" class="mod-search" type="text" placeholder="Search" list="modlist" />
					<datalist id="modlist">
						{{range .modlist}}
							<option value="{{ .InternalName }}">
						{{end}}
					</datalist>
				</form>
			</div>
		</header>
		<main>
			<div>
				<div id="mod-info">
					<img src="https://mirror.sgkoi.dev/direct/{{ .modData.InternalName }}.png" id="icon" width="160px" height="160px" style="display:{{ .iconDisplay }}"></img>
					<p>Display name: <span id="displayName">{{ .escapedDisplayName }}</span></p>
					<p>Internal name: <span id="internalName">{{ .modData.InternalName }}</span></p>
					<p>Version: <span id="version">{{ .modData.Version }} ({{ .modData.TModLoaderVersion }})</span></p>
					<p>Author: <span id="author">{{ .modData.Author }}</span></p>
					<p>Homepage: <span id="homepage">{{if .hasHomepage }} <a href="{{ .modData.Homepage }}" target="_blank">{{ .modData.Homepage }}</a> {{else}} no homepage {{end}}</span></p>
					<p>Last updated: <span id="updated">{{ .modData.LastUpdated }}</span></p>
					<p>Widget url: <span id="widget"><a href="https://bettermodwidget.javidpack.repl.co/?mod={{ .modData.InternalName }}" target="_blank">https://bettermodwidget.javidpack.repl.co/?mod={{ .modData.InternalName }}</a></span></p>
					<p>Mod dependencies: <span>{{range .modDependencies}}<a href="?mod={{ . }}">{{ . }}</a>{{end}}</span>
					<p>Mod Side: <span>{{ .modData.ModSide }}</span></p>
				</div>
					<div id="description-container">
						<h1>Description</h1>
						<p id="description">{{ .escapedDescription }}</p>
					</div>
				<div id="download-info">
					<h1>Downloads: </h1>
					<p>Download link: <span id="dl-link">{{ .modData.DownloadLink }}</span></p>
					<p>Downloads total: <span id="dl-total">{{ .modData.DownloadsTotal }}</span></p>
					<p>Downloads today: <span id="dl-today">{{ .modData.DownloadsToday }}</span></p>
					<p>Downloads yesterday: <span id="dl-yesterday">{{ .modData.DownloadsYesterday }}</span></p>
					<p>Rank total: <span id="total-rank">{{ .modData.Rank }}</span></p>
				</div>
			</div>
			<div id="dl-history">
				<h1>Version history</h1>
				<div id="history-table">
				<table>
					<tbody id="history-tbody">
					<tr>
						<th>Version</th><th>Downloads</th><th>TModLoaderVersion</th><th>PublishDate</th>
					</tr>
					{{range .versionHistory}}
						<tr>
							<td>{{ .Version }}</td><td>{{ .DownloadsTotal }}</td><td>{{ .TModLoaderVersion }}</td><td>{{ .PublishDate }}</td>
						</tr>
					{{end}}
				  </tbody>
				</table>
			  </div>
			</div>
		</main>
	</body>
</html>